# Python environment (created by tooling — never commit)
.venv/

# Unused / superseded files
styles.css
script.js
AccSolis Logo_1400x300px-02_0.png
AccSolis Logo_500x300-2_0.png
L_gainfriends_2dbarcodes_GW_0.png
M_gainfriends_2dbarcodes_GW_0.png
S_gainfriends_2dbarcodes_GW_0.png

# OS junk
.DS_Store
Thumbs.db
